@charset "utf-8";
/* CSS Document for fmModulSettings */
/* v1.0 */

.fmBlockSettings { padding-top: 25px; background: #e0f5ee; }
.fmBlockSettings .fmBS-inner { background: #FFF; }

.fmBlockSettings .fmBS-toggler { position: relative; background: #f3f6fb; cursor: pointer; color: #7d8288; padding: 10px 30px 10px 15px; transition: all .5s ease; }
	.fmBlockSettings .fmBS-toggler:hover { background: #FFF; color: #7d8288; }
	.fmBlockSettings .fmBS-toggler > div { display: inline-block; width: 15px; height: 15px; line-height: 0px; }
	.fmBlockSettings .fmBS-toggler > div.fmBS-icon-right { position: absolute; top: 13px; right: 15px; }

.fmBlockSettings .fmBS-content { display: none; padding: 15px; border-top: 1px solid #c1c9d4; }
.fmBlockSettings .nav > li > a { border-radius: 4px 4px 0px 0px; border-top-width: 2px; border-color: #9ca5b2 #9ca5b2 #9ca5b2; background: #EEE; color: #555; padding: 7px 10px; }
	.fmBlockSettings .nav > li.active > a { background: #FFF; border: 1px solid #9ca5b2; border-bottom-color: transparent; border-top-width: 2px; }
.fmBlockSettings .tab-content { padding: 20px 20px 20px; border: 1px solid #9ca5b2; border-top: none; background: #FFF; }

.fmBlockSettings .fmBS-content dl { margin: 15px 0px 0px; }
	.fmBlockSettings .fmBS-content dl:first-child { margin-top: 0px; }
.fmBlockSettings .fmBS-content dd > select { margin: 0px !important; }

.fmBlockSettings .fmBS-fieldset > span { font-weight: bold; display: block; margin-top: 25px; margin-bottom: -5px; }
	.fmBlockSettings .fmBS-fieldset:nth-child(1) > span { margin-top: 0px; }
.fmBlockSettings .fmBS-fieldset-inline dl { display: inline-block; width: auto; vertical-align: top; margin: 7px 15px 0px 0px; }
.fmBlockSettings .fmBS-fieldset-inline dt { display: block; width: auto; padding-top: 0px; }
	.fmBlockSettings .fmBS-fieldset-inline dt label { font-weight: normal; margin-bottom: 2px; }


/* Felder */
.fmBlockSettings input[type=number] { padding-right: 1px; }
.fmBlockSettings input[type=color] { padding-top: 3px; padding-bottom: 3px; }
.fmBlockSettings textarea { height: auto; }
.fmBlockSettings .fmBS-rangetext { min-width: 80px; }